<div class="container">

<h1>MONSIEUR COCKTAIL</h1>

<% @cocktails.each do |cocktail|%>
<div class="card-product">
  <%= cl_image_tag cocktail.photo.key, crop: :fill %>
  <div class="card-product-infos">
    <h2><%=cocktail.name %></h2>
    <button><%=link_to "See recipe", cocktail_path(cocktail)%></button>
  </div>
</div>
<% end %>

<%= link_to 'Add a new cocktail', new_cocktail_path %>
</div>
