<h1>MONSIEUR COCKTAIL</h1>

<div class="container">

<% @cocktails.each do |cocktail|%>
  <div class="card">
    <h2><%=cocktail.name %></h2>
<img src="" alt="">
<button><%=link_to "See recipe", cocktail_path(cocktail)%></button>
  </div>
<% end %>

</div>
<%= link_to 'Add a new cocktail', new_cocktail_path %>
