<div class="container">

<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/refreshing-rum-mai-tai-cocktail-royalty-free-image-1129485781-1567157013.jpg?crop=0.664xw:0.498xh;0.154xw,0.361xh&resize=980:*)">
  MONSIEUR COCKTAIL
</div>

<% @cocktails.each do |cocktail|%>
<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
    <%= cl_image_tag cocktail.photo.key, height: 100, width: 100, crop: :fill %>
    <%= link_to cocktail.name, cocktail_path(cocktail) %>
  </div>
<% end %>

</div>

<%= link_to 'Add a new cocktail', new_cocktail_path %>
